<div id="game_root">
    <h1 class="welcome_title">
        Welcome to <br />Bulls and Cows!
    </h1>

    <div class="info_title">
        <div>Single Player:</div>
        Computer vs Computer
    </div>

    <table class="game_table">
        <tbody>
            <tr>
                <td colspan="2">
                    <button id="new_game_button" data-bind="event: {click: CreateGame}">Start New Game</button>
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <div class="game_table_moves">
                        <select id="server_output" multiple size="12" data-bind="options:guesses"></select>

                        <div class="thinking_progress" data-bind="visible: isThinking">
                            <img src="img/waiting.gif" />
                            <span>Thinking...</span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <h5 class="footer">
        Implemented by <a href="mailto:ikivanov@gmail.com">Ivan Ivanov</a>
    </h5>
    <h5 class="footer2">
        Phone: +359 888 959 386
    </h5>
</div>